fastapi
uvicorn
pandas
openpyxl
SQLAlchemy
psycopg2-binary
google-genai
python-dotenv
firebase-admin
httpx
google-cloud-aiplatform
google-auth
google-auth-oauthlib
python-multipart
slowapi
redis
anthropic
openai
alembic
pydantic-settings
pypdf
cryptography
